USE [Sportics_LAM]
GO
/****** Object:  Table [dbo].[common_player_info]    Script Date: 2/10/2024 01:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[common_player_info](
	[player_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[display_last_comma_first] [nvarchar](50) NOT NULL,
	[display_fi_last] [nvarchar](50) NOT NULL,
	[player_slug] [nvarchar](50) NOT NULL,
	[birthdate] [datetime2](7) NOT NULL,
	[school] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[last_affiliation] [nvarchar](50) NOT NULL,
	[height] [time](7) NOT NULL,
	[weight] [float] NOT NULL,
	[season_exp] [float] NOT NULL,
	[jersey] [tinyint] NOT NULL,
	[position] [nvarchar](50) NOT NULL,
	[rosterstatus] [nvarchar](50) NOT NULL,
	[games_played_current_season_flag] [nvarchar](50) NOT NULL,
	[team_id] [int] NOT NULL,
	[team_name] [nvarchar](50) NOT NULL,
	[team_abbreviation] [nvarchar](50) NOT NULL,
	[team_code] [nvarchar](50) NOT NULL,
	[team_city] [nvarchar](50) NOT NULL,
	[playercode] [nvarchar](50) NOT NULL,
	[from_year] [float] NOT NULL,
	[to_year] [float] NOT NULL,
	[dleague_flag] [bit] NOT NULL,
	[nba_flag] [nvarchar](50) NOT NULL,
	[games_played_flag] [nvarchar](50) NOT NULL,
	[draft_year] [smallint] NULL,
	[draft_round] [tinyint] NULL,
	[draft_number] [tinyint] NULL,
	[greatest_75_flag] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_common_player_info] PRIMARY KEY CLUSTERED 
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_filtered_by_date]    Script Date: 2/10/2024 01:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_filtered_by_date](
	[season_id] [int] NOT NULL,
	[team_id_home] [int] NOT NULL,
	[team_abbreviation_home] [nvarchar](50) NOT NULL,
	[team_name_home] [nvarchar](50) NOT NULL,
	[game_id] [int] NOT NULL,
	[game_date] [date] NOT NULL,
	[matchup_home] [nvarchar](50) NOT NULL,
	[wl_home] [nvarchar](50) NOT NULL,
	[min] [smallint] NOT NULL,
	[fgm_home] [float] NOT NULL,
	[fga_home] [float] NOT NULL,
	[fg_pct_home] [float] NOT NULL,
	[fg3m_home] [float] NOT NULL,
	[fg3a_home] [float] NOT NULL,
	[fg3_pct_home] [float] NOT NULL,
	[ftm_home] [float] NOT NULL,
	[fta_home] [float] NOT NULL,
	[ft_pct_home] [float] NOT NULL,
	[oreb_home] [float] NOT NULL,
	[dreb_home] [float] NOT NULL,
	[reb_home] [float] NOT NULL,
	[ast_home] [float] NOT NULL,
	[stl_home] [float] NOT NULL,
	[blk_home] [float] NOT NULL,
	[tov_home] [float] NOT NULL,
	[pf_home] [float] NOT NULL,
	[pts_home] [float] NOT NULL,
	[plus_minus_home] [smallint] NOT NULL,
	[video_available_home] [tinyint] NOT NULL,
	[team_id_away] [int] NOT NULL,
	[team_abbreviation_away] [nvarchar](50) NOT NULL,
	[team_name_away] [nvarchar](50) NOT NULL,
	[matchup_away] [nvarchar](50) NOT NULL,
	[wl_away] [nvarchar](50) NOT NULL,
	[fgm_away] [float] NOT NULL,
	[fga_away] [float] NOT NULL,
	[fg_pct_away] [float] NOT NULL,
	[fg3m_away] [float] NOT NULL,
	[fg3a_away] [float] NOT NULL,
	[fg3_pct_away] [float] NOT NULL,
	[ftm_away] [float] NOT NULL,
	[fta_away] [float] NOT NULL,
	[ft_pct_away] [float] NOT NULL,
	[oreb_away] [float] NOT NULL,
	[dreb_away] [float] NOT NULL,
	[reb_away] [float] NOT NULL,
	[ast_away] [float] NOT NULL,
	[stl_away] [float] NOT NULL,
	[blk_away] [float] NOT NULL,
	[tov_away] [float] NOT NULL,
	[pf_away] [float] NOT NULL,
	[pts_away] [float] NOT NULL,
	[plus_minus_away] [smallint] NOT NULL,
	[video_available_away] [tinyint] NOT NULL,
	[season_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_game_filtered_by_date] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[line_score]    Script Date: 2/10/2024 01:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[line_score](
	[game_date_est] [datetime2](7) NOT NULL,
	[game_sequence] [float] NOT NULL,
	[game_id] [int] NOT NULL,
	[team_id_home] [int] NOT NULL,
	[team_abbreviation_home] [nvarchar](50) NOT NULL,
	[team_city_name_home] [nvarchar](50) NOT NULL,
	[team_nickname_home] [nvarchar](50) NOT NULL,
	[team_wins_losses_home] [nvarchar](50) NOT NULL,
	[pts_qtr1_home] [float] NOT NULL,
	[pts_qtr2_home] [float] NOT NULL,
	[pts_qtr3_home] [float] NOT NULL,
	[pts_qtr4_home] [float] NOT NULL,
	[pts_ot1_home] [float] NOT NULL,
	[pts_ot2_home] [float] NOT NULL,
	[pts_ot3_home] [float] NOT NULL,
	[pts_ot4_home] [float] NOT NULL,
	[pts_ot5_home] [float] NOT NULL,
	[pts_ot6_home] [float] NOT NULL,
	[pts_ot7_home] [float] NOT NULL,
	[pts_ot8_home] [float] NOT NULL,
	[pts_ot9_home] [float] NOT NULL,
	[pts_ot10_home] [float] NOT NULL,
	[pts_home] [float] NOT NULL,
	[team_id_away] [int] NOT NULL,
	[team_abbreviation_away] [nvarchar](50) NOT NULL,
	[team_city_name_away] [nvarchar](50) NOT NULL,
	[team_nickname_away] [nvarchar](50) NOT NULL,
	[team_wins_losses_away] [nvarchar](50) NOT NULL,
	[pts_qtr1_away] [float] NOT NULL,
	[pts_qtr2_away] [float] NOT NULL,
	[pts_qtr3_away] [float] NOT NULL,
	[pts_qtr4_away] [float] NOT NULL,
	[pts_ot1_away] [float] NOT NULL,
	[pts_ot2_away] [float] NOT NULL,
	[pts_ot3_away] [float] NOT NULL,
	[pts_ot4_away] [float] NOT NULL,
	[pts_ot5_away] [float] NOT NULL,
	[pts_ot6_away] [float] NOT NULL,
	[pts_ot7_away] [float] NOT NULL,
	[pts_ot8_away] [float] NOT NULL,
	[pts_ot9_away] [float] NOT NULL,
	[pts_ot10_away] [float] NOT NULL,
	[pts_away] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[others_stats]    Script Date: 2/10/2024 01:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[others_stats](
	[game_id] [int] NOT NULL,
	[league_id] [tinyint] NOT NULL,
	[team_id_home] [int] NOT NULL,
	[team_abbreviation_home] [nvarchar](50) NOT NULL,
	[team_city_home] [nvarchar](50) NOT NULL,
	[pts_paint_home] [tinyint] NOT NULL,
	[pts_2nd_chance_home] [tinyint] NOT NULL,
	[pts_fb_home] [tinyint] NOT NULL,
	[largest_lead_home] [tinyint] NOT NULL,
	[lead_changes] [tinyint] NOT NULL,
	[times_tied] [tinyint] NOT NULL,
	[team_turnovers_home] [float] NOT NULL,
	[total_turnovers_home] [float] NOT NULL,
	[team_rebounds_home] [float] NOT NULL,
	[pts_off_to_home] [float] NOT NULL,
	[team_id_away] [int] NOT NULL,
	[team_abbreviation_away] [nvarchar](50) NOT NULL,
	[team_city_away] [nvarchar](50) NOT NULL,
	[pts_paint_away] [tinyint] NOT NULL,
	[pts_2nd_chance_away] [tinyint] NOT NULL,
	[pts_fb_away] [tinyint] NOT NULL,
	[largest_lead_away] [tinyint] NOT NULL,
	[team_turnovers_away] [float] NOT NULL,
	[total_turnovers_away] [float] NOT NULL,
	[team_rebounds_away] [float] NOT NULL,
	[pts_off_to_away] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player_stats]    Script Date: 2/10/2024 01:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player_stats](
	[Rk] [int] NOT NULL,
	[Player] [nvarchar](50) NOT NULL,
	[Pos] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Tm] [nvarchar](50) NOT NULL,
	[G] [int] NOT NULL,
	[GS] [int] NOT NULL,
	[MP] [float] NOT NULL,
	[FG] [float] NOT NULL,
	[FGA] [float] NOT NULL,
	[FG1] [float] NOT NULL,
	[_3P] [float] NOT NULL,
	[_3PA] [float] NOT NULL,
	[_3P1] [smallint] NOT NULL,
	[_2P] [float] NOT NULL,
	[_2PA] [float] NOT NULL,
	[_2P1] [float] NOT NULL,
	[eFG] [float] NOT NULL,
	[FT] [float] NOT NULL,
	[FTA] [float] NOT NULL,
	[FT1] [float] NOT NULL,
	[ORB] [float] NOT NULL,
	[DRB] [float] NOT NULL,
	[TRB] [float] NOT NULL,
	[AST] [float] NOT NULL,
	[STL] [float] NOT NULL,
	[BLK] [float] NOT NULL,
	[TOV] [float] NOT NULL,
	[PF] [float] NOT NULL,
	[PTS] [float] NOT NULL,
	[Season] [int] NOT NULL,
	[Season_type] [nvarchar](50) NOT NULL,
	[player_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[team]    Script Date: 2/10/2024 01:39:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team](
	[team_id] [int] NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[abbreviation] [nvarchar](50) NOT NULL,
	[nickname] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[year_founded] [float] NOT NULL,
 CONSTRAINT [PK_team] PRIMARY KEY CLUSTERED 
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[player_stats] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Season_type], [player_id]) VALUES (14, N'RJ Barrett', N'SG', 22, N'NYK', 11, 11, 343, 65, 149, 433, 18, 55, 328, 46, 94, 495, 494, 45, 59, 769, 5, 4, 45, 28, 8, 2, 23, 23, 193, 2023, N'Playoff', 1629628)
INSERT [dbo].[player_stats] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Season_type], [player_id]) VALUES (30, N'Jalen Brunson', N'PG', 26, N'NYK', 11, 11, 403, 99, 209, 474, 24, 73, 325, 75, 136, 553, 53, 56, 62, 912, 8, 41, 49, 56, 15, 1, 21, 24, 278, 2023, N'Playoff', 1628973)
INSERT [dbo].[player_stats] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Season_type], [player_id]) VALUES (73, N'Quentin Grimes', N'SG', 22, N'NYK', 9, 6, 269, 16, 51, 304, 1, 41, 243, 6, 1, 556, 402, 1, 12, 818, 3, 24, 28, 14, 1, 6, 11, 19, 51, 2023, N'Playoff', 1629656)
GO
INSERT [dbo].[team] ([team_id], [full_name], [abbreviation], [nickname], [city], [state], [year_founded]) VALUES (1610612737, N'Atlanta Hawks', N'ATL', N'Hawks', N'Atlanta', N'Atlanta', 19490)
INSERT [dbo].[team] ([team_id], [full_name], [abbreviation], [nickname], [city], [state], [year_founded]) VALUES (1610612738, N'Boston Celtics', N'BOS', N'Celtics', N'Boston', N'Massachusetts', 19460)
INSERT [dbo].[team] ([team_id], [full_name], [abbreviation], [nickname], [city], [state], [year_founded]) VALUES (1610612739, N'Cleveland Cavaliers', N'CLE', N'Cavaliers', N'Cleveland', N'Ohio', 19700)
GO
ALTER TABLE [dbo].[common_player_info]  WITH CHECK ADD  CONSTRAINT [FK_common_player_info_team] FOREIGN KEY([team_id])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[common_player_info] CHECK CONSTRAINT [FK_common_player_info_team]
GO
ALTER TABLE [dbo].[game_filtered_by_date]  WITH CHECK ADD  CONSTRAINT [FK_game_filtered_by_date_team] FOREIGN KEY([team_id_home])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[game_filtered_by_date] CHECK CONSTRAINT [FK_game_filtered_by_date_team]
GO
ALTER TABLE [dbo].[game_filtered_by_date]  WITH CHECK ADD  CONSTRAINT [FK_game_filtered_by_date_team1] FOREIGN KEY([team_id_away])
REFERENCES [dbo].[team] ([team_id])
GO
ALTER TABLE [dbo].[game_filtered_by_date] CHECK CONSTRAINT [FK_game_filtered_by_date_team1]
GO
ALTER TABLE [dbo].[line_score]  WITH CHECK ADD  CONSTRAINT [FK_line_score_game_filtered_by_date] FOREIGN KEY([game_id])
REFERENCES [dbo].[game_filtered_by_date] ([game_id])
GO
ALTER TABLE [dbo].[line_score] CHECK CONSTRAINT [FK_line_score_game_filtered_by_date]
GO
ALTER TABLE [dbo].[others_stats]  WITH CHECK ADD  CONSTRAINT [FK_others_stats_game_filtered_by_date] FOREIGN KEY([game_id])
REFERENCES [dbo].[game_filtered_by_date] ([game_id])
GO
ALTER TABLE [dbo].[others_stats] CHECK CONSTRAINT [FK_others_stats_game_filtered_by_date]
GO
