USE [Sportics_LAM]
GO
/****** Object:  Table [dbo].[filtered_common_player_info]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[filtered_common_player_info](
	[player_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[display_last_comma_first] [nvarchar](50) NOT NULL,
	[display_fi_last] [nvarchar](50) NOT NULL,
	[player_slug] [nvarchar](50) NOT NULL,
	[birthdate] [datetime2](7) NOT NULL,
	[school] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[last_affiliation] [nvarchar](50) NOT NULL,
	[height] [time](7) NOT NULL,
	[weight] [float] NOT NULL,
	[season_exp] [float] NOT NULL,
	[jersey] [tinyint] NOT NULL,
	[position] [nvarchar](50) NOT NULL,
	[rosterstatus] [nvarchar](50) NOT NULL,
	[games_played_current_season_flag] [nvarchar](50) NOT NULL,
	[team_id] [int] NOT NULL,
	[team_name] [nvarchar](50) NOT NULL,
	[team_abbreviation] [nvarchar](50) NOT NULL,
	[team_code] [nvarchar](50) NOT NULL,
	[team_city] [nvarchar](50) NOT NULL,
	[playercode] [nvarchar](50) NOT NULL,
	[from_year] [float] NOT NULL,
	[to_year] [float] NOT NULL,
	[dleague_flag] [bit] NOT NULL,
	[nba_flag] [nvarchar](50) NOT NULL,
	[games_played_flag] [nvarchar](50) NOT NULL,
	[draft_year] [smallint] NULL,
	[draft_round] [tinyint] NULL,
	[draft_number] [tinyint] NULL,
	[greatest_75_flag] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILTRADO 2022-2023 NBA Player Stats - Playoffs - Hoja 1]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILTRADO 2022-2023 NBA Player Stats - Playoffs - Hoja 1](
	[Rk] [tinyint] NOT NULL,
	[Player] [nvarchar](50) NOT NULL,
	[Pos] [nvarchar](50) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Tm] [nvarchar](50) NOT NULL,
	[G] [tinyint] NOT NULL,
	[GS] [tinyint] NOT NULL,
	[MP] [float] NOT NULL,
	[FG] [float] NOT NULL,
	[FGA] [float] NOT NULL,
	[FG1] [float] NOT NULL,
	[_3P] [float] NOT NULL,
	[_3PA] [float] NOT NULL,
	[_3P1] [smallint] NOT NULL,
	[_2P] [float] NOT NULL,
	[_2PA] [float] NOT NULL,
	[_2P1] [float] NOT NULL,
	[eFG] [float] NOT NULL,
	[FT] [float] NOT NULL,
	[FTA] [float] NOT NULL,
	[FT1] [float] NOT NULL,
	[ORB] [float] NOT NULL,
	[DRB] [float] NOT NULL,
	[TRB] [float] NOT NULL,
	[AST] [float] NOT NULL,
	[STL] [float] NOT NULL,
	[BLK] [float] NOT NULL,
	[TOV] [float] NOT NULL,
	[PF] [float] NOT NULL,
	[PTS] [float] NOT NULL,
	[Season] [int] NULL,
	[Tipo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILTRADO 2022-2023 NBA Player Stats - Regular - Hoja 1]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILTRADO 2022-2023 NBA Player Stats - Regular - Hoja 1](
	[Rk] [smallint] NOT NULL,
	[Player] [nvarchar](50) NOT NULL,
	[Pos] [nvarchar](50) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Tm] [nvarchar](50) NOT NULL,
	[G] [tinyint] NOT NULL,
	[GS] [tinyint] NOT NULL,
	[MP] [float] NOT NULL,
	[FG] [float] NOT NULL,
	[FGA] [float] NOT NULL,
	[FG1] [float] NOT NULL,
	[_3P] [float] NOT NULL,
	[_3PA] [float] NOT NULL,
	[_3P1] [float] NOT NULL,
	[_2P] [float] NOT NULL,
	[_2PA] [float] NOT NULL,
	[_2P1] [float] NOT NULL,
	[eFG] [float] NOT NULL,
	[FT] [float] NOT NULL,
	[FTA] [float] NOT NULL,
	[FT1] [float] NOT NULL,
	[ORB] [float] NOT NULL,
	[DRB] [float] NOT NULL,
	[TRB] [float] NOT NULL,
	[AST] [float] NOT NULL,
	[STL] [float] NOT NULL,
	[BLK] [float] NOT NULL,
	[TOV] [float] NOT NULL,
	[PF] [float] NOT NULL,
	[PTS] [float] NOT NULL,
	[Season] [int] NULL,
	[Tipo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILTRADO_2021-2022 NBA Player Stats - Regular - Hoja 1]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILTRADO_2021-2022 NBA Player Stats - Regular - Hoja 1](
	[Rk] [smallint] NOT NULL,
	[Player] [nvarchar](50) NOT NULL,
	[Pos] [nvarchar](50) NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Tm] [nvarchar](50) NOT NULL,
	[G] [tinyint] NOT NULL,
	[GS] [tinyint] NOT NULL,
	[MP] [float] NOT NULL,
	[FG] [float] NOT NULL,
	[FGA] [float] NOT NULL,
	[FG1] [float] NOT NULL,
	[_3P] [float] NOT NULL,
	[_3PA] [float] NOT NULL,
	[_3P1] [float] NOT NULL,
	[_2P] [float] NOT NULL,
	[_2PA] [float] NOT NULL,
	[_2P1] [float] NOT NULL,
	[eFG] [float] NOT NULL,
	[FT] [float] NOT NULL,
	[FTA] [float] NOT NULL,
	[FT1] [float] NOT NULL,
	[ORB] [float] NOT NULL,
	[DRB] [float] NOT NULL,
	[TRB] [float] NOT NULL,
	[AST] [float] NOT NULL,
	[STL] [float] NOT NULL,
	[BLK] [float] NOT NULL,
	[TOV] [float] NOT NULL,
	[PF] [float] NOT NULL,
	[PTS] [float] NOT NULL,
	[Season] [int] NULL,
	[Tipo] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_filtered_by_date]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_filtered_by_date](
	[season_id] [int] NOT NULL,
	[team_id_home] [int] NOT NULL,
	[team_abbreviation_home] [nvarchar](50) NOT NULL,
	[team_name_home] [nvarchar](50) NOT NULL,
	[game_id] [int] NOT NULL,
	[game_date] [date] NOT NULL,
	[matchup_home] [nvarchar](50) NOT NULL,
	[wl_home] [nvarchar](50) NOT NULL,
	[min] [smallint] NOT NULL,
	[fgm_home] [float] NOT NULL,
	[fga_home] [float] NOT NULL,
	[fg_pct_home] [float] NOT NULL,
	[fg3m_home] [float] NOT NULL,
	[fg3a_home] [float] NOT NULL,
	[fg3_pct_home] [float] NOT NULL,
	[ftm_home] [float] NOT NULL,
	[fta_home] [float] NOT NULL,
	[ft_pct_home] [float] NOT NULL,
	[oreb_home] [float] NOT NULL,
	[dreb_home] [float] NOT NULL,
	[reb_home] [float] NOT NULL,
	[ast_home] [float] NOT NULL,
	[stl_home] [float] NOT NULL,
	[blk_home] [float] NOT NULL,
	[tov_home] [float] NOT NULL,
	[pf_home] [float] NOT NULL,
	[pts_home] [float] NOT NULL,
	[plus_minus_home] [smallint] NOT NULL,
	[video_available_home] [tinyint] NOT NULL,
	[team_id_away] [int] NOT NULL,
	[team_abbreviation_away] [nvarchar](50) NOT NULL,
	[team_name_away] [nvarchar](50) NOT NULL,
	[matchup_away] [nvarchar](50) NOT NULL,
	[wl_away] [nvarchar](50) NOT NULL,
	[fgm_away] [float] NOT NULL,
	[fga_away] [float] NOT NULL,
	[fg_pct_away] [float] NOT NULL,
	[fg3m_away] [float] NOT NULL,
	[fg3a_away] [float] NOT NULL,
	[fg3_pct_away] [float] NOT NULL,
	[ftm_away] [float] NOT NULL,
	[fta_away] [float] NOT NULL,
	[ft_pct_away] [float] NOT NULL,
	[oreb_away] [float] NOT NULL,
	[dreb_away] [float] NOT NULL,
	[reb_away] [float] NOT NULL,
	[ast_away] [float] NOT NULL,
	[stl_away] [float] NOT NULL,
	[blk_away] [float] NOT NULL,
	[tov_away] [float] NOT NULL,
	[pf_away] [float] NOT NULL,
	[pts_away] [float] NOT NULL,
	[plus_minus_away] [smallint] NOT NULL,
	[video_available_away] [tinyint] NOT NULL,
	[season_type] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[line_score_filtered]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[line_score_filtered](
	[game_date_est] [datetime2](7) NOT NULL,
	[game_sequence] [float] NOT NULL,
	[game_id] [int] NOT NULL,
	[team_id_home] [int] NOT NULL,
	[team_abbreviation_home] [nvarchar](50) NOT NULL,
	[team_city_name_home] [nvarchar](50) NOT NULL,
	[team_nickname_home] [nvarchar](50) NOT NULL,
	[team_wins_losses_home] [nvarchar](50) NOT NULL,
	[pts_qtr1_home] [float] NOT NULL,
	[pts_qtr2_home] [float] NOT NULL,
	[pts_qtr3_home] [float] NOT NULL,
	[pts_qtr4_home] [float] NOT NULL,
	[pts_ot1_home] [float] NOT NULL,
	[pts_ot2_home] [float] NOT NULL,
	[pts_ot3_home] [float] NOT NULL,
	[pts_ot4_home] [float] NOT NULL,
	[pts_ot5_home] [float] NOT NULL,
	[pts_ot6_home] [float] NOT NULL,
	[pts_ot7_home] [float] NOT NULL,
	[pts_ot8_home] [float] NOT NULL,
	[pts_ot9_home] [float] NOT NULL,
	[pts_ot10_home] [float] NOT NULL,
	[pts_home] [float] NOT NULL,
	[team_id_away] [int] NOT NULL,
	[team_abbreviation_away] [nvarchar](50) NOT NULL,
	[team_city_name_away] [nvarchar](50) NOT NULL,
	[team_nickname_away] [nvarchar](50) NOT NULL,
	[team_wins_losses_away] [nvarchar](50) NOT NULL,
	[pts_qtr1_away] [float] NOT NULL,
	[pts_qtr2_away] [float] NOT NULL,
	[pts_qtr3_away] [float] NOT NULL,
	[pts_qtr4_away] [float] NOT NULL,
	[pts_ot1_away] [float] NOT NULL,
	[pts_ot2_away] [float] NOT NULL,
	[pts_ot3_away] [float] NOT NULL,
	[pts_ot4_away] [float] NOT NULL,
	[pts_ot5_away] [float] NOT NULL,
	[pts_ot6_away] [float] NOT NULL,
	[pts_ot7_away] [float] NOT NULL,
	[pts_ot8_away] [float] NOT NULL,
	[pts_ot9_away] [float] NOT NULL,
	[pts_ot10_away] [float] NOT NULL,
	[pts_away] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[others_stats_filtered]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[others_stats_filtered](
	[game_id] [int] NOT NULL,
	[league_id] [tinyint] NOT NULL,
	[team_id_home] [int] NOT NULL,
	[team_abbreviation_home] [nvarchar](50) NOT NULL,
	[team_city_home] [nvarchar](50) NOT NULL,
	[pts_paint_home] [tinyint] NOT NULL,
	[pts_2nd_chance_home] [tinyint] NOT NULL,
	[pts_fb_home] [tinyint] NOT NULL,
	[largest_lead_home] [tinyint] NOT NULL,
	[lead_changes] [tinyint] NOT NULL,
	[times_tied] [tinyint] NOT NULL,
	[team_turnovers_home] [float] NOT NULL,
	[total_turnovers_home] [float] NOT NULL,
	[team_rebounds_home] [float] NOT NULL,
	[pts_off_to_home] [float] NOT NULL,
	[team_id_away] [int] NOT NULL,
	[team_abbreviation_away] [nvarchar](50) NOT NULL,
	[team_city_away] [nvarchar](50) NOT NULL,
	[pts_paint_away] [tinyint] NOT NULL,
	[pts_2nd_chance_away] [tinyint] NOT NULL,
	[pts_fb_away] [tinyint] NOT NULL,
	[largest_lead_away] [tinyint] NOT NULL,
	[team_turnovers_away] [float] NOT NULL,
	[total_turnovers_away] [float] NOT NULL,
	[team_rebounds_away] [float] NOT NULL,
	[pts_off_to_away] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player_filtered]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player_filtered](
	[player_id] [int] NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[is_active] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAYER_STATS]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYER_STATS](
	[Rk] [int] NOT NULL,
	[Player] [nvarchar](50) NOT NULL,
	[Pos] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Tm] [nvarchar](50) NOT NULL,
	[G] [int] NOT NULL,
	[GS] [int] NOT NULL,
	[MP] [float] NOT NULL,
	[FG] [float] NOT NULL,
	[FGA] [float] NOT NULL,
	[FG1] [float] NOT NULL,
	[_3P] [float] NOT NULL,
	[_3PA] [float] NOT NULL,
	[_3P1] [smallint] NOT NULL,
	[_2P] [float] NOT NULL,
	[_2PA] [float] NOT NULL,
	[_2P1] [float] NOT NULL,
	[eFG] [float] NOT NULL,
	[FT] [float] NOT NULL,
	[FTA] [float] NOT NULL,
	[FT1] [float] NOT NULL,
	[ORB] [float] NOT NULL,
	[DRB] [float] NOT NULL,
	[TRB] [float] NOT NULL,
	[AST] [float] NOT NULL,
	[STL] [float] NOT NULL,
	[BLK] [float] NOT NULL,
	[TOV] [float] NOT NULL,
	[PF] [float] NOT NULL,
	[PTS] [float] NOT NULL,
	[Season] [int] NOT NULL,
	[Season_type] [nvarchar](50) NOT NULL,
	[player_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[team]    Script Date: 1/10/2024 02:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team](
	[id] [int] NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[abbreviation] [nvarchar](50) NOT NULL,
	[nickname] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[state] [nvarchar](50) NOT NULL,
	[year_founded] [float] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[FILTRADO 2022-2023 NBA Player Stats - Playoffs - Hoja 1] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Tipo]) VALUES (14, N'RJ Barrett', N'SG', 22, N'NYK', 11, 11, 343, 65, 149, 433, 18, 55, 328, 46, 94, 495, 494, 45, 59, 769, 5, 4, 45, 28, 8, 2, 23, 23, 193, 2023, N'Playoff')
INSERT [dbo].[FILTRADO 2022-2023 NBA Player Stats - Playoffs - Hoja 1] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Tipo]) VALUES (30, N'Jalen Brunson', N'PG', 26, N'NYK', 11, 11, 403, 99, 209, 474, 24, 73, 325, 75, 136, 553, 53, 56, 62, 912, 8, 41, 49, 56, 15, 1, 21, 24, 278, 2023, N'Playoff')
INSERT [dbo].[FILTRADO 2022-2023 NBA Player Stats - Playoffs - Hoja 1] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Tipo]) VALUES (73, N'Quentin Grimes', N'SG', 22, N'NYK', 9, 6, 269, 16, 51, 304, 1, 41, 243, 6, 1, 556, 402, 1, 12, 818, 3, 24, 28, 14, 1, 6, 11, 19, 51, 2023, N'Playoff')
GO
INSERT [dbo].[FILTRADO 2022-2023 NBA Player Stats - Regular - Hoja 1] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Tipo]) VALUES (15, N'Ryan Arcidiacono', N'PG', 28, N'NYK', 11, 0, 24, 1, 5, 2, 1, 3, 333, 0, 2, 0, 3, 0, 0, 0, 0, 4, 4, 2, 2, 0, 1, 3, 3, 2023, N'Regular')
INSERT [dbo].[FILTRADO 2022-2023 NBA Player Stats - Regular - Hoja 1] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Tipo]) VALUES (29, N'RJ Barrett', N'SG', 22, N'NYK', 73, 73, 339, 7, 161, 434, 17, 53, 31, 53, 108, 495, 485, 4, 54, 74, 8, 42, 5, 28, 4, 2, 22, 25, 196, 2023, N'Regular')
INSERT [dbo].[FILTRADO 2022-2023 NBA Player Stats - Regular - Hoja 1] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Tipo]) VALUES (69, N'Jalen Brunson', N'PG', 26, N'NYK', 68, 68, 35, 86, 176, 491, 2, 47, 416, 67, 128, 519, 547, 48, 58, 829, 6, 3, 35, 62, 9, 2, 21, 22, 24, 2023, N'Regular')
GO
INSERT [dbo].[FILTRADO_2021-2022 NBA Player Stats - Regular - Hoja 1] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Tipo]) VALUES (17, N'Ryan Arcidiacono', N'PG', 27, N'NYK', 10, 0, 76, 6, 12, 5, 4, 9, 444, 2, 3, 667, 667, 0, 0, 0, 0, 8, 8, 4, 1, 0, 3, 5, 16, 2022, N'Regular')
INSERT [dbo].[FILTRADO_2021-2022 NBA Player Stats - Regular - Hoja 1] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Tipo]) VALUES (33, N'RJ Barrett', N'SF', 21, N'NYK', 70, 70, 345, 7, 171, 408, 2, 58, 342, 5, 113, 442, 466, 41, 58, 714, 9, 49, 58, 3, 6, 2, 22, 2, 20, 2022, N'Regular')
INSERT [dbo].[FILTRADO_2021-2022 NBA Player Stats - Regular - Hoja 1] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Tipo]) VALUES (85, N'Alec Burks', N'SG', 30, N'NYK', 81, 44, 286, 35, 9, 391, 19, 48, 404, 16, 42, 378, 499, 27, 33, 822, 6, 43, 49, 3, 1, 3, 11, 27, 117, 2022, N'Regular')
GO
INSERT [dbo].[player_filtered] ([player_id], [full_name], [first_name], [last_name], [is_active]) VALUES (1629628, N'RJ Barrett', N'RJ', N'Barrett', 1)
INSERT [dbo].[player_filtered] ([player_id], [full_name], [first_name], [last_name], [is_active]) VALUES (1628973, N'Jalen Brunson', N'Jalen', N'Brunson', 1)
INSERT [dbo].[player_filtered] ([player_id], [full_name], [first_name], [last_name], [is_active]) VALUES (203095, N'Evan Fournier', N'Evan', N'Fournier', 1)
GO
INSERT [dbo].[PLAYER_STATS] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Season_type], [player_id]) VALUES (14, N'RJ Barrett', N'SG', 22, N'NYK', 11, 11, 343, 65, 149, 433, 18, 55, 328, 46, 94, 495, 494, 45, 59, 769, 5, 4, 45, 28, 8, 2, 23, 23, 193, 2023, N'Playoff', 1629628)
INSERT [dbo].[PLAYER_STATS] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Season_type], [player_id]) VALUES (30, N'Jalen Brunson', N'PG', 26, N'NYK', 11, 11, 403, 99, 209, 474, 24, 73, 325, 75, 136, 553, 53, 56, 62, 912, 8, 41, 49, 56, 15, 1, 21, 24, 278, 2023, N'Playoff', 1628973)
INSERT [dbo].[PLAYER_STATS] ([Rk], [Player], [Pos], [Age], [Tm], [G], [GS], [MP], [FG], [FGA], [FG1], [_3P], [_3PA], [_3P1], [_2P], [_2PA], [_2P1], [eFG], [FT], [FTA], [FT1], [ORB], [DRB], [TRB], [AST], [STL], [BLK], [TOV], [PF], [PTS], [Season], [Season_type], [player_id]) VALUES (73, N'Quentin Grimes', N'SG', 22, N'NYK', 9, 6, 269, 16, 51, 304, 1, 41, 243, 6, 1, 556, 402, 1, 12, 818, 3, 24, 28, 14, 1, 6, 11, 19, 51, 2023, N'Playoff', 1629656)
GO
INSERT [dbo].[team] ([id], [full_name], [abbreviation], [nickname], [city], [state], [year_founded]) VALUES (1610612737, N'Atlanta Hawks', N'ATL', N'Hawks', N'Atlanta', N'Atlanta', 19490)
INSERT [dbo].[team] ([id], [full_name], [abbreviation], [nickname], [city], [state], [year_founded]) VALUES (1610612738, N'Boston Celtics', N'BOS', N'Celtics', N'Boston', N'Massachusetts', 19460)
INSERT [dbo].[team] ([id], [full_name], [abbreviation], [nickname], [city], [state], [year_founded]) VALUES (1610612739, N'Cleveland Cavaliers', N'CLE', N'Cavaliers', N'Cleveland', N'Ohio', 19700)
GO
